h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    margin-bottom: 1em;
}

h4 {
    font-size: 20px;
}

p, li, a, blockquote, span {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5em;
}

code, codeblock {
    background: #eaeaea;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 0 4px;
}

codeblock {
    display: block;
    margin: 12px 32px 6px 0;
    padding: 12px 14px;
}