/* Importing the Google font for the headings: Teko */
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

h1,
h2,
h3,
h4 {
  color: #cc5500;
  font-family: 'Teko', sans-serif;
  line-height: 1em;
}

h1 {
  font-size: 36px;
  margin-top: 3px;
}

h2 {
  font-size: 32px;
  margin-top: 18px;
}

h3 {
  border-bottom: 1px solid var(--primary-color);
  font-size: 24px;
  margin-bottom: 1em;
}

h4 {
  font-size: 20px;
}

p,
li,
a,
blockquote,
span {
  font-family: 'Arial', serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5em;
}

code,
codeblock {
  background: #eaeaea;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 0 4px;
}

codeblock {
  display: block;
  margin: 12px 32px 6px 0;
  padding: 12px 14px;
}
