.header {
  height: var(--header-height);
  background: var(--primary-color);
  padding: 0 var(--page-horizontal-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header p {
  font-family: Teko;
  font-size: 20px;
  color: #fff;
  margin-top: 4px;
}
.signin-button {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  height: 36px;
  padding: 4px 12px;
  font-size: 18px;
  font-family: Teko;
  margin-top: 4px;
  text-decoration: none;
  transition: all ease 400ms;
}
.signin-button:hover {
  background: #fff;
  color: var(--primary-color);
  cursor: pointer;
}
