.signin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
}

.signin-page__form {
  background: var(--accent-bg-color);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 32px;
  width: 300px;
}

.signin-page__form--label {
  display: none;
}

.signin-page__form--input {
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  color: var(--primary-color);
  height: 42px;
  padding: 4px 12px;
  font-size: 18px;
  width: 100%;
}

.signin-page__form--button {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  height: 32px;
  padding: 4px 12px;
  font-size: 18px;
  font-family: Teko;
  margin-top: 4px;
  width: 100%;
  transition: all ease 400ms;
}
.signin-page__form--button:hover {
  background: #fff;
  color: var(--primary-color);
  cursor: pointer;
}
