/* css here */
.profile-page {
}
.profile-page--banner {
  background: url(/images/facespace_bg.jpg) center center;
  background-size: cover;
  height: 400px;
}
.profile-page__user {
  margin: 0 auto;
  padding: 0 var(--page-horizontal-padding);
  max-width: var(--max-content-width);
}
.profile-page__user--avatar {
  border: 8px solid var(--primary-color);
  margin-top: -50%;
  width: 100%;
}
.profile-page__friends {
  max-width: var(--max-content-width);
  margin: 24px auto;
  padding: 24px var(--page-horizontal-padding);
}
.profile-page__friends--list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.friend {
  margin-bottom: 16px;
  width: 48%;
  position: relative;
}
.friend img {
  border: 2px solid var(--primary-color);
  width: 100%;
}
.friend p {
  background: rgba(255, 255, 255, 0.6);
  color: #000;
  position: absolute;
  bottom: 9px;
  left: 2px;
  text-align: center;
  font-weight: 700;
  width: calc(100% - 4px);
}

@media screen and (min-width: 600px) {
  .profile-page__user {
    display: flex;
  }
  .profile-page__user h2 {
    margin-left: 18px;
  }
  .profile-page__user--avatar {
    margin-top: -160px;
    width: 320px;
  }
  .profile-page__friends--list {
    justify-content: flex-start;
  }
  .profile-page__friends--list li {
    margin-right: 20px;
  }
  .profile-page__friends--list li:last-child {
    margin-right: 0;
  }
  .friend {
    max-width: 200px;
  }
}
