<!-- note that all of our page templates will include a header and footer partial -->
<%- include('../partials/header') %>
<div class="homepage">
  <h2>All Facespace members</h2>
  <ul class="homepage__all">
    <% users.forEach(user => { %>
      <li class="homepage__all--user">
          <% if (currentUser && currentUser.friends && currentUser.friends.includes(user._id)) { %>
            <p class="ribbon"><span>Friend</span></p>
          <% } %>
          <a href="/users/<%= user._id %>">
            <img src="<%= user.avatarUrl %>" />
          </a>
      </li>
    <% }) %> 
  </ul>
</div>
<%- include('../partials/footer') %>