<!-- note that all of our page templates will include a header and footer partial -->
<%- include('../partials/header') %>
<div class="homepage">
  <h2>All Facespace members</h2>
  <ul class="homepage__all">
    <% users.forEach(user => { %>
      <li class="homepage__all--user">
          <img src="<%= user.avatarUrl %>" />
      </li>
    <% }) %> 
  </ul>
</div>
<%- include('../partials/footer') %>